extends layout

block content
  .container-parent
    .container
    img(src= 'images/raw01.jpg')
    .filename filename

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script.
    var filenames = [];
    var count = -1;
    $.ajax({
      url: 'public/images/',
      success: function (data) {
         $(data).find('a:contains("raw")').each(function() {
             filenames.push(this.href.replace(window.location.host, "").replace("http:///", "").substring(7));
         });
         var changeImage = function() {
           count++;
           $('img').attr('src', filenames[count]);
           var displayname = filenames[count].substring(7);
           displayname = displayname.substring(0, displayname.length - 4);
           $('.filename').html(displayname);
           if (count >= filenames.length - 1) {
             count = -1;
             console.log('reached last file. count was back to zero');
           }
         }
         setInterval(changeImage, 10000);
       }
    });
